<div class="container mt-4">
  <div class="row mb-4">
    <div class="col-md-4">
      <h3 class="bg-light rounded px-3 py-2 d-inline-block">商品詳細</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <% if @item.item_image.attached? %>
        <%= image_tag @item.item_image, class: "img-fluid" %>
      <% else %>
        <%= image_tag 'no_image.jpg', class: "img-fluid" %>
      <% end %>
    </div>
    <div class="col-md-8">
      <table class="table table-borderless align-middle">
        <tbody>
          <tr>
            <th scope="row" style="width: 25%;">商品名</th>
            <td class="fs-5"><%= @item.name %></td>
          </tr>
          <tr>
            <th scope="row">商品説明</th>
            <td><%= simple_format(@item.introduction) %></td>
          </tr>
          <tr>
            <th scope="row">ジャンル</th>
            <td><%= @item.genre.name %></td>
          </tr>
          <tr>
            <th scope="row">税込価格<br>
              (税抜価格)</th>
            <td>
              <% price_with_tax = (@item.price * 1.1).floor %>
              <%= number_to_currency(price_with_tax, unit: "", precision: 0) %>
              (<%= number_to_currency(@item.price, unit: "", precision: 0) %>) 円
            </td>
          </tr>
          <tr>
            <th scope="row">販売ステータス</th>
            <td>
              <% if @item.is_active? %>
                <span class="text-success fw-bold">販売中</span>
              <% else %>
                <span class="text-secondary fw-bold">販売停止中</span>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="mt-4 text-center">
        <%= link_to "編集する", edit_admin_item_path(@item), class: "btn btn-success px-4" %>
      </div>
    </div>
  </div>
</div>
