<div class="container mt-4">
  <h3 class="bg-light rounded px-3 py-2 d-inline-block mb-4">
    <%= @customer.last_name + @customer.first_name %>さんの会員詳細
  </h3>
  <table class="table w-auto">
    <tr>
      <th>会員ID</th>
      <td><%= @customer.id %></td>
    </tr>
    <tr>
      <th>氏名</th>
      <td><%= @customer.last_name %> <%= @customer.first_name %></td>
    </tr>
    <tr>
      <th>フリガナ</th>
      <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
    </tr>
    <tr>
      <th>郵便番号</th>
      <td><%= @customer.postal_code %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
      <th>電話番号</th>
      <td><%= @customer.telephone_number %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td class="fw-bold"><%= @customer.email %></td>
    </tr>
    <tr>
      <th>会員ステータス</th>
      <td>
        <% if @customer.is_active? %>
          <span class="text-success fw-bold">有効</span>
        <% else %>
          <span class="text-secondary fw-bold">退会</span>
        <% end %>
      </td>
    </tr>
  </table>
  <div class="d-flex gap-3 mt-4">
    <%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-success px-4 mx-3" %>
    <%= link_to "注文履歴一覧を見る", admin_root_path, class: "btn btn-primary px-4 mx-3" %>
  </div>
</div>
