<div class="container mt-4">
  <div class="row mb-4">
    <div class="col-md-4">
      <h3 class="bg-light rounded px-3 py-2 d-inline-block">配送先編集</h3>
    </div>
  </div>
  <%= form_with(model: @address, url: address_path(@address), method: :patch, local: true) do |f| %>
    <div class="row mb-3">
      <%= f.label :postal_code, "郵便番号(ハイフンなし)", class: "col-md-3 col-form-label" %>
      <div class="col-md-2">
        <%= f.text_field :postal_code, class: "w-100" %>
      </div>
    </div>
    <div class="row mb-3">
      <%= f.label :address, "住所", class: "col-md-3 col-form-label" %>
      <div class="col-md-5">
        <%= f.text_field :address, class: "w-100" %>
      </div>
    </div>
    <div class="row mb-3">
      <%= f.label :name, "宛名", class: "col-md-3 col-form-label" %>
      <div class="col-md-2">
        <%= f.text_field :name, class: "w-100" %>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-9 offset-md-3">
        <%= f.submit "変更内容を保存", class: "btn btn-success px-4" %>
      </div>
    </div>
  <% end %>
</div>
