<div class="container mt-3">
  <div class="row">
    <h3 class="col-md-3 bg-light rounded text-black p-2">配送先登録/一覧</h3>
  </div>
  <%= form_with(model: @address, url: addresses_path, local: true) do |f| %>
    <div class="row mt-3">
      <%= f.label :postal_code, "郵便番号（ハイフンなし）", class: "col-md-3 col-form-label" %>
      <div class="col-md-3">
        <%= f.text_field :postal_code, placeholder: "0000000"%>
      </div>
    </div>
    <div class="row mt-3">
      <%= f.label :address, "住所", class: "col-md-3 col-form-label" %>
      <div class="col-md-9">
        <%= f.text_field :address, class: "w-50", placeholder: "東京都渋谷区代々木神園町0-0"%>
      </div>
    </div>
    <div class="row mt-3">
      <%= f.label :name, "宛名", class: "col-md-3 col-form-label" %>
      <div class="col-md-5">
        <%= f.text_field :name, placeholder: "令和太郎"%>
      </div>
      <div class="col-md-4 text-end">
        <%= f.submit "新規登録", class: "btn btn-success px-4" %>
      </div>
    </div>
  <% end %>
  <div class="row mt-5">
    <table class="table table-bordered align-middle">
      <thead class="table-light">
        <tr>
          <th style="background-color: #f0f0f0; width: 15%;">郵便番号</th>
          <th style="background-color: #f0f0f0; width: 40%;">住所</th>
          <th style="background-color: #f0f0f0; width: 20%;">宛名</th>
          <th style="background-color: #f0f0f0; width: 220px;"></th>
        </tr>
      </thead>
      <tbody>
        <% @addresses.each do |address| %>
          <tr>
            <td style="vertical-align: middle;"><%= address.postal_code %></td>
            <td style="vertical-align: middle;"><%= address.address %></td>
            <td style="vertical-align: middle;"><%= address.name %></td>
            <td class="text-center">
              <%= link_to "編集する", edit_address_path(address), class: "btn btn-success" %>
              <%= link_to "削除する", address_path(address), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
