<div class="container my-5">
  <div class="row">
    <div class="col-lg-2">
      <%= render 'admin/genres/search' %>
    </div>
    <div class="offset-lg-1 col-lg-8 position-relative my-auto">
      <h2 class="mt-5">商品一覧（全<%= @items.count %>件）</h2>
      <div class="row position-relative">
        <% @items.each do |item| %>
          <div class="col-lg-3">
            <div class="card w-60 mx-auto mt-4 shadow-lg">
              <%= link_to item_path(item.id) do %>
                <%= image_tag item.get_item_image(50,50), class: "card-img-top"; %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= item.name %></h5>
                <p class="card-text">¥<%= number_with_delimiter(item.tax_included_price) %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="my-3 mx-auto">
        <%= paginate @items,theme: 'bootstrap-5'  %>
      </div>
    </div>
  </div>
</div>
